extends layout

block content
    h1 Crear estudiantes
    form(method="post")
        label(for="nombre") Nombre: 
        input(name="nombre", type="text")
        br
        label(for="edad") Edad: 
        input(name="edad", type="text")
        br
        button(type="submit") Guardar