extends layout

block content
    a(href='/estudiantes') Volver
    br
    br

    h1  Actualizar Estudiantes

    br
    br

    form(method="post")
        input(name="nombre", type="text", value=estudiante.nombre)
        input(name="edad", type="text", value=estudiante.edad)
        input(type='submit' value='Modificar' name='btn_update')