extends ../layout

block content
    a(href='/estudiantes/create') Nuevo Estudiante

    table.table
        thead
            tr
                th(scope='col') Id
                th(scope='col') Nombre
                th(scope='col') Edad
                th(scope='col')
        tbody
            each estu in estuds
                tr
                    td(scope = 'row')
                        = estu.id
                    td= estu.nombre
                    td= estu.edad
                    td
                        a(href= 'estudiantes/' + estu.id + '/update') Editar
                    td
                        form.inline(method='post' action='estudiantes/' + estu.id + '/delete')
                            input(type='hidden' name='id' value=estu.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-primary') Eliminar