extends ../layout

block content
    a(href='/estudiantes') Volver

    br
    br
    br

    h1  Actualizar Estudiantes

    br
    br

    form(action=`/estudiantes/${estu.id}/update` method='post')
        label(for='id') ID:
        input#id(type='text' name='id' value=estu.id)
        br
        label(for='nombre') Nombre:
        input#nombre(type='text' name='nombre' value=estu.nombre)
        br
        label(for='edad') Edad:
        input#edad(type='text' name='edad' value=estu.edad)
        br
        br
        input.btn(type='submit' value='ok')